<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.virtualcode7ecuadorvigitrack.myapplication">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.cApplication"
        android:allowBackup="true"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".views.views_socios.view_reservas.AddReservaSocioActivity"></activity>
        <activity
            android:name=".views.views_socios.view_reservas.SolicitudReservaActivity"
            android:parentActivityName=".views.views_socios.view_reservas.ReservasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.view_reservas.ReservasActivity"></meta-data>
        </activity>
        <activity
            android:name=".views.views_socios.view_reservas.DetalleReservacionsScrollActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity"></meta-data>
        </activity>
        <activity
            android:name=".views.views_socios.view_reservas.ReservasActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.view_invitado.AddInvitadoActivity"
            android:parentActivityName=".views.views_socios.view_invitado.SolicitudInvitadosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.view_invitado.SolicitudInvitadosActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.view_invitado.SolicitudInvitadosActivity"
            android:parentActivityName=".views.views_socios.view_invitado.InvitadosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.view_invitado.InvitadosActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.view_invitado.InvitadosActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity" />
        </activity>
        <activity
            android:name=".views.LogOutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".views.views_socios.ReciboDetalleScrollActivity"
            android:parentActivityName=".views.views_socios.RecivosCuentaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.RecivosCuentaActivity" />
        </activity>
        <activity
            android:name=".views.EventosViewPagerContenidoActivity"
            android:parentActivityName=".views.InicioActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.InicioActivity" />
        </activity>
        <activity
            android:name=".views.NoticiasViewPagerContenidoActivity"
            android:parentActivityName=".views.InicioActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.InicioActivity" />
        </activity>
        <activity
            android:name=".views.views_contacto.TerminosPrivacidadActivity"
            android:parentActivityName=".views.views_contacto.AcercaAppActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_contacto.AcercaAppActivity" />
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_asturian_primary_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".views.views_contacto.SedesDetailsActivity"
            android:parentActivityName=".views.views_contacto.SedesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_contacto.SedesActivity" />
        </activity>
        <activity
            android:name=".views.views_contacto.AcercaAppActivity"
            android:parentActivityName=".views.views_contacto.ContactoInicioActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_contacto.ContactoInicioActivity" />
        </activity>
        <activity
            android:name=".views.views_contacto.SedesActivity"
            android:parentActivityName=".views.views_contacto.ContactoInicioActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_contacto.ContactoInicioActivity" />
        </activity>
        <activity
            android:name=".views.views_contacto.ContactoInicioActivity"
            android:parentActivityName=".views.InicioActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.InicioActivity" />

        <activity
            android:name=".views.pdf.ViewPdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.views_socios.NotificationDetailsSocioActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity" />
        </activity>
        <activity
            android:name=".views.view_recovery_pass.UpdatePasswordActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.view_recovery_pass.ValidacionNumSocioActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.ReciboDetalleActivity"
            android:parentActivityName=".views.views_socios.RecivosCuentaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.RecivosCuentaActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.RecivosCuentaActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.StatusCuentaSociosActivity"
            android:parentActivityName=".views.views_socios.InicioSociosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.views_socios.InicioSociosActivity" />
        </activity>
        <activity
            android:name=".views.views_socios.InicioSociosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.InicioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.cBroadCastNetworkStatus"
            android:exported="false"
            >
           <intent-filter>
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
           </intent-filter>
        </receiver>

        <service
            android:name=".fcm.cFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.virtualcode7ecuadorvigitrack.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>